@using PPOk_Notifications.Models;
@model Patient

@{
    ViewBag.Title = "Index";
    Model.LoadUserData();
}

<link rel="stylesheet" href="~/Content/jquery.timepicker.css" />

@{ var textSelected = new HtmlString(Model.ContactMethod == Patient.PrimaryContactMethod.Text ? "selected" : ""); }
@{ var callSelected = new HtmlString(Model.ContactMethod == Patient.PrimaryContactMethod.Call ? "selected" : ""); }
@{ var emailSelected = new HtmlString(Model.ContactMethod == Patient.PrimaryContactMethod.Email ? "selected" : ""); }

@using (Html.BeginForm())
{
    string alignment = "col-xs-4 col-xs-offset-2";
    string alignment2 = "col-xs-5";
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>Welcome @Model.GetFullName()</h2>
            <h3>Change your Contact Preferences Below:</h3>
            <div style="margin-top: 20px;" class="row">
                <div class="@alignment">
                    <h4>Preferred Contact Method</h4>
                </div>

                <div class="@alignment2" style="margin-top: 10px;">
                    <select name="contactMethod">
                        <option value="text" @textSelected>Text: @Model.Phone</option>
                        <option value="call" @callSelected>Call: @Model.Phone</option>
                        <option value="email" @emailSelected>Email: @Model.Email</option>
                    </select>
                </div>
            </div>

            <div style="" class="row">
                <div class="@alignment">
                    <h4>Preferred Notification Time</h4>
                </div>

                <div class="@alignment2" style="margin-top: 10px;">
                    <input id="notificationTime" name="notificationTime" type="text" class="time ui-timepicker-input" autocomplete="off" /> 
                </div>
            </div>

            <div style="" class="row">
                <div class="@alignment">
                    <h4>Birthday Notifications</h4>
                </div>

                <div class="@alignment2" style="margin-top: 10px;">
                    <input type="checkbox" name="birthdayEnabled" /> Enabled
                </div>
            </div>

            <div class="row">
                <div class="@alignment">
                    <h4>Refill Request Notifications</h4>
                </div>

                <div class="@alignment2" style="margin-top: 10px;">
                    <input type="checkbox" name="refillsEnabled" /> Enabled
                </div>
            </div>

            <div class="row">
                <div class="@alignment">
                    <h4>Refill Pickup Notifications</h4>
                </div>

                <div class="@alignment2" style="margin-top: 10px;">
                    <input type="checkbox" name="pickupsEnabled" /> Enabled
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/jquery.timepicker.min.js"></script>
<script>
    $("#notificationTime").timepicker();
</script>
