@model PPOk_Notifications.Models.Pharmacy
@{
    ViewBag.Title = "Admin";
}

@using (Html.BeginForm())
{
    <div class="container">
        <h2>Message Templates</h2>

        <div class="row">
            <h3>Refill Templates</h3>
            <div class="col-xs-12 col-md-4">
                <h4>Text Template</h4>
                <textarea class="message-template" name="refillTextTemplate">@Model.TemplateRefill.TemplateText</textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Phone Call Template</h4>
                <textarea class="message-template" name="refillPhoneTemplate">@Model.TemplateRefill.TemplatePhone</textarea>
            </div>
                
            <div class="col-xs-12 col-md-4">
                <h4>Email Template</h4>
                <textarea class="message-template" name="refillEmailTemplate">@Model.TemplateRefill.TemplateEmail</textarea>
            </div>
        </div>

        <div class="row">
            <h3>Pickup Templtes</h3>
            <div class="col-xs-12 col-md-4">
                <h4>Text Template</h4>
                <textarea class="message-template" name="pickupTextTemplate">@Model.TemplateReady.TemplateText</textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Phone Call Template</h4>
                <textarea class="message-template" name="pickupPhoneTemplate">@Model.TemplateReady.TemplatePhone</textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Email Template</h4>
                <textarea class="message-template" name="pickupEmailTemplate">@Model.TemplateReady.TemplateEmail</textarea>
            </div>
        </div>

        <div class="row">
            <h3>Recall Templtes</h3>
            <div class="col-xs-12 col-md-4">
                <h4>Text Template</h4>
                <textarea class="message-template" name="recallTextTemplate">@Model.TemplateRecall.TemplateText</textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Phone Call Template</h4>
                <textarea class="message-template" name="recallPhoneTemplate">@Model.TemplateRecall.TemplatePhone</textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Email Template</h4>
                <textarea class="message-template" name="recallEmailTemplate">@Model.TemplateRecall.TemplateEmail</textarea>
            </div>
        </div>

        <div class="row">
            <h3>Birthday Templtes</h3>
            <div class="col-xs-12 col-md-4">
                <h4>Text Template</h4>
                <textarea class="message-template" name="birthdayTextTemplate">@Model.TemplateBirthday.TemplateText</textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Phone Call Template</h4>
                <textarea class="message-template" name="birthdayPhoneTemplate">@Model.TemplateBirthday.TemplatePhone</textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Email Template</h4>
                <textarea class="message-template" name="birthdayEmailTemplate">@Model.TemplateBirthday.TemplateEmail</textarea>
            </div>
        </div>

        <div class="row">
            <h3>Notification Disabled Template</h3>
            <div class="col-xs-12 col-md-4">
                <h4>Text Template</h4>
                <textarea class="message-template" name="notificationDisabledTextTemplate"></textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Phone Call Template</h4>
                <textarea class="message-template" name="notificationDisabledPhoneTemplate"></textarea>
            </div>

            <div class="col-xs-12 col-md-4">
                <h4>Email Template</h4>
                <textarea class="message-template" name="notificationDisabledEmailTemplate"></textarea>
            </div>
        </div>
        
        <div class="form-group" style="margin-top: 10px;">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

