@model IEnumerable<PPOk_Notifications.Models.Pharmacist>

@{
    ViewBag.Title = "PharmacistList";
}

<h2>List of Pharmacists</h2>

<p>
    Enabled pharmacists will show in Green and Disabled in Red
</p>

<p>
    @Html.ActionLink("Add Pharmacist", "AddorEditPharmacist")
</p>

<table class="table" id="pharmacy_list">
    <thead>
        <tr>
            <th>
                first_name
            </th>
            <th>
                last_name
            </th>
            <th>
                phone
            </th>
            <th>
                email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string style = item.Enabled == true ? "background-color:#b3ffb3" : "background-color:#ffb3b3";
            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddorEditPharmacist", new { id = item.PharmacistId }) |
                    @Html.ActionLink("Delete", "DeletePharmacist", new { id = item.PharmacistId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        pharmacy_table = $('#pharmacy_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging": false,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            language: {
                searchPlaceholder: "Search Pharmacies"
            }
        });
    }());

</script>

