@using PPOk_Notifications.Models
@model Tuple<IEnumerable<KeyValuePair<Refill, Prescription>>, IEnumerable<KeyValuePair<Refill, Prescription>>>

@{
    ViewBag.Title = "Refill List";
    Dictionary<long, Patient> patientDict = Patient.PatientDict;
}

<h2>List of Refills marked for Refill</h2>

<p>
    Unfilled Refills will show in Red and Completed Refills will be shown in Green
</p>

<table class="table" id="refill_marked_list">
    <thead>
        <tr>
            <th>
                Filled?
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Prescription Name
            </th>
            <th>
                Prescription UPC
            </th>
            <th>
                Refill Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            var prescription = item.Value;
            var refill = item.Key;
            Patient patient = patientDict[prescription.PatientId];
            string style = refill.Refilled ? "background-color:#b3ffb3" : "background-color:#ffb3b3";
            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => refill.Refilled)
                </td>
                <td>
                    @patient.GetFullName()
                </td>
                <td>
                    @prescription.PrescriptionName
                </td>
                <td>
                    @prescription.PrescriptionUpc
                </td>
                <td>
                    @Html.DisplayFor(modelItem => refill.RefillDate)
                </td>
                <td>
                    @Html.ActionLink("Set Filled", "SetFilled", new { id = refill.RefillId }) 
                    | 
                    @Html.ActionLink("Delete", "DeleteRefill", new { id = refill.RefillId })
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>All Refills</h2>

<p>
    Unfilled Refills will show in Red and Completed Refills will be shown in Green
</p>


<table class="table" id="refill_list">
    <thead>
        <tr>
            <th>
                Filled?
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Prescription Name
            </th>
            <th>
                Prescription UPC
            </th>
            <th>
                Refill Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            var prescription = item.Value;
            var refill = item.Key;
            Patient patient = patientDict[prescription.PatientId];
            string style = refill.Refilled ? "background-color:#b3ffb3" : "background-color:#ffb3b3";
            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => refill.Refilled)
                </td>
                <td>
                    @patient.GetFullName()
                </td>
                <td>
                    @prescription.PrescriptionName
                </td>
                <td>
                    @prescription.PrescriptionUpc
                </td>
                <td>
                    @Html.DisplayFor(modelItem => refill.RefillDate)
                </td>
                <td>
                    @Html.ActionLink("Set Filled", "SetFilled", new { id = refill.RefillId })
                    |
                    @Html.ActionLink("Delete", "DeleteRefill", new { id = refill.RefillId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        pharmacy_table = $('#refill_marked_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging": false,
            language: {
                searchPlaceholder: "Search Refills"
            }
        });
        refill_table = $('#refill_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            language: {
                searchPlaceholder: "Search Refills"
            }
        });
    }());

</script>

