@using PPOk_Notifications.Service
@using PPOk_Notifications.Models
@model List<PPOk_Notifications.Models.Refill>

@{
    ViewBag.Title = "Refill List";
}

<h2>List of Refills</h2>

<p>
    Unfilled Refills will show in Red and Completed Refills will be shown in Green
</p>


<table class="table" id="refill_list">
    <thead>
        <tr>
            <th>
                Filled?
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Prescription Name
            </th>
            <th>
                Prescription UPC
            </th>
            <th>
                Refill Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Prescription prescription = DatabasePrescriptionService.GetById(item.PrescriptionId);
            Patient patient = DatabasePatientService.GetById(prescription.PrecriptionId);
            patient.LoadUserData();
            string style = item.Refilled ? "background-color:#b3ffb3" : "background-color:#ffb3b3";
            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => item.Refilled)
                </td>
                <td>
                    @patient.GetFullName()
                </td>
                <td>
                    @prescription.PrescriptionName
                </td>
                <td>
                    @prescription.PrescriptionUpc
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefillDate)
                </td>
                <td>
                    @Html.ActionLink("Set Filled", "SetFilled", new { id = item.RefillId }) 
                    | 
                    @Html.ActionLink("Delete", "DeleteRefill", new { id = item.RefillId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        pharmacy_table = $('#refill_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging": false,
            language: {
                searchPlaceholder: "Search Refills"
            }
        });
    }());

</script>

