@model IEnumerable<PPOk_Notifications.Models.Refill>

@{
    ViewBag.Title = "Refill List";
}

<h2>List of Refills</h2>

<p>
    Complete Refills Indicated in Green
</p>


<table class="table" id="refill_list">
    <thead>
        <tr>
            <th>
                refill_id
            </th>
            <th>
                prescription_id
            </th>
            <th>
                refill_date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string style = item.Refilled == true ? "background-color:#d0fd07" : null;
            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => item.RefillId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefillDate)
                </td>
                <td>
                    @Html.ActionLink("Set Filled", "SetFilled", new { id = item.RefillId }) | 
                    @Html.ActionLink("Delete", "DeleteRefill", new { id = item.RefillId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        pharmacy_table = $('#refill_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging": false,
            language: {
                searchPlaceholder: "Search Refills"
            }
        });
    }());

</script>

