@using PPOk_Notifications.Service
@using PPOk_Notifications.Models
@model IEnumerable<PPOk_Notifications.Models.Refill>

@{
    SQLService db = new SQLService();
    ViewBag.Title = "Refill List";
}

<h2>List of Refills</h2>

<p>
    Unfilled Refills will show in Red and Completed Refills will be shown in Green
</p>


<table class="table" id="refill_list">
    <thead>
        <tr>
            <th>
                Filled?
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Prescription Name
            </th>
            <th>
                Prescription UPC
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefillDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string style = item.Refilled == true ? "background-color:#b3ffb3" : "background-color:#ffb3b3";
            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => item.Refilled)
                </td>
                <td>
                    @db.GetPatientById(db.GetPrescriptionById(item.PrescriptionId).PatientId).LoadUserData().GetFullName()
                </td>
                <td>
                    @db.GetPrescriptionById(item.PrescriptionId).PrescriptionName
                </td>
                <td>
                    @db.GetPrescriptionById(item.PrescriptionId).PrescriptionUpc
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefillDate)
                </td>
                <td>
                    @Html.ActionLink("Set Filled", "SetFilled", new { id = item.RefillId }) 
                    | 
                    @Html.ActionLink("Delete", "DeleteRefill", new { id = item.RefillId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        pharmacy_table = $('#refill_list').DataTable({
            "dom": '<"pull-left"f><"pull-right"l>tip',
            "paging": false,
            language: {
                searchPlaceholder: "Search Refills"
            }
        });
    }());

</script>

