@model IEnumerable<PPOk_Notifications.Models.Notification>

@{
    ViewBag.Title = "Notifications";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="table" id="badge_list">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ScheduledTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sent)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScheduledTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sent)
                        </td>

                        <td>
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
