<!DOCTYPE html>
<html>
@{
    bool loggedIn = false;
    bool pharmacist = false;
    bool pharmAdmin = false;
    bool ppokAdmin = false;

    var db = new PPOk_Notifications.Service.SQLService();
    if (Session["user_id"] != null)
    {
        var user = db.GetUserByIdActive((long)Session["user_id"]);
        if (user != null)
        {
            loggedIn = true;
            if (user.GetType() == typeof(PPOk_Notifications.Models.PharmacyUser))
            {
                pharmacist = true;
            }
        }

    }

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PPOk</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PPOk Notifier", "Index", "PharmacistLogin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (pharmacist || pharmAdmin)
                    {
                        <li><a href="~/">Refills</a></li>
                        <li><a href="~/Notification/NotificationList">Notifications</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (pharmAdmin)
                    {
                        <li><a href="~/Pharmacy/Admin">Admin</a></li>
                    }
                    @if (!loggedIn)
                    {
                        <li><a href="~/PharmacistLogin/">Login</a></li>
                    }
                    else
                    {
                        <li><a href="~/PharmacistLogin/Logout">Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @if (loggedIn)
    {
        <div class="row">
            <div class="col-xs-2 col-xs-offset-10">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" style="margin:10px;">
                    Upload Patient File
                </button>
            </div>
        </div>
    }
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PPOk Notification Scheduler</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @if (loggedIn)
    {
    <!-- Modal for upload -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Patient Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Upload", "Pharmacy", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <div class="form-group">
                                <input type="file" id="dataFile" name="upload" />
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Upload" class="btn btn-default" />
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>